<!doctype html>
<html lang="en">
  <head>
    <!-- Required metadata tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Translate and analyze text with Azure Cognitive Services.">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Translate and analyze text with Azure Cognitive Services</title>
  </head>
  <body>
    <div class="container">
      <h1>Translate, synthesize, and analyze text with Azure</h1>
      <p>This simple web app uses Azure for text translation, text-to-speech conversion, and sentiment analysis of input text and translations.
     </p>
     <!-- App start -->

      <div class="row">
        <div class="col">
          <form>
            <!-- Enter text to translate. -->
            <div class="form-group">
              <label for="text-to-translate"><strong>Enter the text you'd like to translate:</strong></label>
              <textarea class="form-control" id="text-to-translate" rows="5"></textarea>
            </div>
            <!-- Select output language. -->
            <div class="form-group">
              <label for="select-language"><strong>Translate to:</strong></label>
              <select class="form-control" id="select-language">
                <option value="en">English</option>
                <option value="fr">French</option>
                <option value="de">German</option>
                <option value="it">Italian</option>
                <option value="pl">Polish</option>
                <option value="pt">Portuguese</option>
                <option value="es">Spanish</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2" id="translate">Translate text</button></br>
            <div id="detected-language" style="display: none">
              <strong>Detected language:</strong> <span id="detected-language-result"></span><br />
              <strong>Detection confidence:</strong> <span id="confidence"></span><br /><br />
            </div>
      
            <button type="submit" class="btn btn-primary mb-2" id="sentiment-analysis">Run sentiment analysis</button></br>
            <div id="sentiment" style="display: none">
              <p>Sentiment can be labeled as "positive", "negative", "neutral", or "mixed". </p>
              <strong>Sentiment label for input:</strong> <span id="input-sentiment"></span><br />
            </div>
      
          </form>
        </div>
        <div class="col">
          <!-- Translated text returned by the Translate API is rendered here. -->
          <form>
            <div class="form-group" id="translator-text-response">
              <label for="translation-result"><strong>Translated text:</strong></label>
              <textarea readonly class="form-control" id="translation-result" rows="5"></textarea>
            </div>
      
            <div class="form-group">
              <label for="select-voice"><strong>Select voice font:</strong></label>
              <select class="form-control" id="select-voice">
                <option value="en-US-AmberNeural">English (US) | Female</option>
                <option value="en-US-BrandonNeural">English (US) | Male</option>
                <option value="fr-FR-DeniseNeural">French | Female</option>
                <option value="fr-FR-HenriNeural">French | Male</option>
                <option value="de-DE-KatjaNeural">German | Female</option>
                <option value="de-DE-ConradNeural">German | Male</option>
                <option value="it-IT-ElsaNeural">Italian | Female</option>
                <option value="it-IT-DiegoNeural">Italian | Male</option>
                <option value="pl-PL-AgnieszkaNeural">Poland | Female</option>
                <option value="pl-PL-MarekNeural">Poland | Male</option>
                <option value="pt-PT-FernandaNeural">Portuguese | Female</option>
                <option value="pt-PT-DuarteNeural">Portuguese | Male</option>
                <option value="es-ES-ElviraNeural">Spanish | Female</option>
                <option value="es-ES-AlvaroNeural">Spanish | Male</option>
              </select>
            </div>
      
          </form>
      
          <button type="submit" class="btn btn-primary mb-2" id="text-to-speech">Convert text-to-speech</button>
          <div id="audio-playback">
            <audio id="audio" controls>
              <source id="audio-source" type="audio/mpeg" />
            </audio>
          </div>
      
        </div>
      </div>

     <!-- App end -->
    </div>

    <!-- Required scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type = "text/javascript" src ="static/scripts/main.js"></script>
  </body>
</html>